<!-- Footer -->
<footer class="center ">
    <br />
    <p><b><i>&copy; Katari-Wolf Technology 2021</b></i></p>
    
    <a href="#page-header" class="top-link">Back to Top</a>
    <br />
    <br />
    <!-- Validators -->
<a href="https://validator.w3.org/check?uri=referer" class="validator">
    <img src="https://dvonbri1.github.io/itis3135/images/button-valid-html5.gif" width="85" height="30" alt="HTML validator">
</a>

<a href="https://jigsaw.w3.org/css-validator/check/referer" class="validator">
    <img src="https://dvonbri1.github.io/itis3135/images/button-valid-css.gif" width="85" height="30" alt="CSS validator">
</a>
</footer>

