/* PAGE HEADER */
.page-title {
    text-align: center;
}

.page-subtitle {
    text-align: center;
}

/* Navbar */
.nav-bar {
    display: block;
    margin-right: 25%;
    margin-left: 25%;
}

.nav-btn {
    display: inline;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-radius: 3px;
    border-color: grey;
}

/*  PAGE BODY   */
body {
    font-family:'Courier New', Courier, monospace;
}

/*  PAGE FOOTER */ 
.page-footer {
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: grey;
    border-style: double;
    border-color: black;
    width: 100%;
    height: 10%;
    position: static;
}

/*  Footer links  */
.footer-links {
    display: inline-flex;
    float: left;
    margin-left: 20%;
}

.top-link {
    float: center;
}

.footer-links h1 {
    display: inline;
    margin-top: 15%;
    margin-right: 10%;
    float: center;
}

.footer-links div {
    display: inline;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 15%;
}

.validator {
    margin-top: 0.25em;
    float: right;
}

/* Section styling */
.section-title {
    text-align: center;
}

.section-divider {
    width: 30%;
}

a:visited {
    text-decoration: none;
}