/* Create color pallete for entire site */
:root {
    --primary-color: #0a0a0a;
    --secondary-color: #df0d03;
    --tertiary-color: #f7f9fd;
    --accent-color: #629ac8;
    font-family: 'Merriweather', serif;
}

/* PAGE HEADER */
.page-title {
    text-align: center;
}

.page-subtitle {
    text-align: center;
}

.page-body {
    width: 100%;
}

/* NAVBAR */
.nav-bar {
    display: block;
    margin-right: 25%;
    margin-left: 25%;
}

.nav-btn {
    display: inline;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-radius: 3px;
    border-color: grey;
    margin-left: 2%;
    margin-right: 2%;
}

.active {
    background-color:rgb(105, 44, 155);
    color: white;
}

a:hover {
    background-color: rgb(144, 52, 231);
    color: rgb(231, 218, 218);
}

a:visited {
    text-decoration: none;

}

/*  PAGE BODY   */
body {
    width: 100%;
}

/*  PAGE FOOTER */ 
.page-footer {
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: grey;
    border-style: double;
    border-color: black;
    width: 100%;
    height: 10%;
    position: sticky;
}

/*  Footer links  */
.footer-links {
    display: inline-flex;
    float: left;
    margin-left: 10%;
}

.top-link {
    float: center;
}

.footer-links h1 {
    display: inline;

    margin-right: 10%;
    float: center;
}

.footer-links div {
    display: inline;
    margin-left: 5%;
    margin-right: 15%;
}

.validator {
    margin-top: 0.25em;
    float: right;
}

/* Section styling */
.section-title {
    text-align: center;
}

.section-divider {
    width: 30%;
}

a:visited {
    text-decoration: none;
}

/* Table Styling */
.employee-table {
    border-collapse: collapse;
    margin-left: 15%;
    width: 70%;
    height: 20%;
}

.table-header {
    text-align: center;
}

.table-title {
    text-align: center;
}

.no-txt-wrap {
    white-space: nowrap;
}

.txt-center {
    text-align: center;
}

.salary {
    color: rgb(21, 182, 21);
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.707);
    text-align: right;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	vertical-align: middle;
}

thead
{
	background-color: rgb(105, 44, 155);
}

tbody tr:nth-child(odd) td
{
	background-color: rgb(169, 66, 253);
}

th.lbl-wages {
    padding-right: 16%;
}

/* Figure styling */
.figcap {
    float: left;
    width: 40%;
    text-align: left;
    font-weight: bolder;
    background-color:rgba(0, 0, 0, 0.904);
    border-style: solid;
    border-radius: 1px;
    border-top: 0px;
    border-color: rgb(169, 66, 253);
    margin-left: 15%;
    padding-left: 1%;
    color: white;
}

/* FORM STYLING */

.signup-form {
    float: center;
    text-align: center;
    background-color: rgb(95, 13, 172);
    width: 50%;
    margin-left: 25%;
}

.form-input {
    font-size: 16px;
    background-color: blueviolet;
    width: 90%;
    margin-left: 5%;
    
}

.form-input h4 {
    font-size: 18px;
}

.form-input label {
    font-weight: bolder;
}

.submit-btn {
    font-size:24px;
    background-color:blueviolet;
    color:whitesmoke;
    border-radius:7px;
    border: solid;
    border-color:rgb(58, 0, 112);
    padding: 5px 20px 5px 20px;
}

.form-input input[type="submit"]:hover {
    cursor:pointer;
    background-color: rgb(58, 0, 112);
    color: rgb(231, 218, 218);
}


/* Line breaks */
hr.px5 {
    height: 5px;
    visibility: hidden;
}

hr.px10 {
    height: 10px;
    visibility: hidden;
}

hr.px20 {
    height: 20px;
    visibility: hidden;
}

hr.px30 {
    height: 30px;
    visibility: hidden;
}

hr.px50 {
    height: 50px;
    visibility: hidden;
}